matrix:
  include:
    - os: linux
      cache:
        directories:
          - $HOME/.cache/go-build
          - $HOME/gopath/pkg/mod

    - os: osx
      cache:
        directories:
          - $HOME/Library/Caches/go-build
          - $HOME/gopath/pkg/mod


language: go

go: "1.12.x"

go_import_path: github.com/dcos/dcos-core-cli

env:
 - NO_DOCKER=1 GO111MODULE=on

before_install:
 - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0

script:
 - make
 - make test
