git+https://github.com/dcos/dcos-e2e.git@2019.10.11.0
git+https://github.com/dcos/dcos-launch.git@4600f4c2f77712b4abb81908328230b49b95f257
git+https://github.com/dcos/dcos-test-utils.git@9a9cafdd509bc9b8c76ab5e9f59849e7f3ace765
boto3==1.9.126
click==6.7
dcos_launch==0.1-dev
requests==2.21.0
urllib3==1.24.2
-e ../python/lib/dcos
-e ../python/lib/dcoscli
